*, *:before, *:after {
  box-sizing:       inherit;
}

/*helper classes*/

.clear:after {
  visibility:       hidden;
  display:          block;
  font-size:        0;
  content:          " ";
  clear:            both;
  height:           0;
}

.visuallyhidden {
  position:         absolute;
  overflow:         hidden;
  clip:             rect(0 0 0 0);
  height:           1px; width: 1px;
  margin:           -1px; padding: 0; border: 0;
}

.left{
  float:            left;
}

.right{
  float:            right;
}
/* end helper classes*/

html{
  background:       #fff;

}

.wrapper{
  font-size:        100%;
}

.page-header {
  display:          block;
  padding:          5em 3.5em 5em 3.5em;
}

.page-title{
  display:          inline-block;
}

.page-title{
  list-style:       none;
  font-family:      "Brandon", "Futura", Sans-Serif;
  margin:           0;
  padding:          none;
  text-decoration:  none;
  color:            #333;

}

.page-title:link{
  margin:           0;
  padding:          .3em .4em .3em .4em;
  text-decoration:  none;
  color:            #333;
}

.page-title:hover{
  text-decoration:  none;
  color:            #B4443C;
}

.main-nav ul {
  list-style:       none;
  margin:           0;
}

.main-nav ul li {
  margin:           0;
  display:          inline;
  font-family:      "Minion", Georgia, Serif;
  padding:          .3em 0em .3em 5em;
}

.main-nav ul a:link{
  margin:           0;
  text-decoration:  none;
  font-weight:      medium;
  font-size:        20px;
  color:            #333;
}

.main-nav ul a:visited{
  margin:           0;
  text-decoration:  none;
  color:            #333;
}

.main-nav ul a:active{
  margin:           0;
  text-decoration:  none;
  color:            #333;
}

.main-nav ul a:hover{
  margin:           0;
  text-decoration:  none;
  color:            #B4443C;
}

article, .image{
  width:            50%;

}

article h2{
  margin:           2.5em;
  padding:          0;
  text-decoration:  none;
  font-family:      "Brandon", "Futura", Sans-Serif;
  font-weight:      normal;
  font-size:        30px;
  color:            #333;

}

article p{
  margin:           0em 4.2em 4em;
  padding:          0;
  line-height:      30.5px;
  text-decoration:  none;
  font-family:      "Minion", Georgia, Serif;
  font-weight:      lighter;
  font-size:        18px;
  color:            #333;
  font-family:      "Minion", Georgia, Serif;
}

a.button{
  position:        absolute;
  float;           left;
  margin:          4.2em;
  padding:         .7em 1.4em .7em 1.4em;
  border:          solid 2px #333;
  text-decoration: none;
  font-family:     brandon-grotesque,Helvetica neue,Arial,sans-serif;
  font-weight:     200;
  font-size:       18px;
  color:           #333;
}

a.button:hover{
  padding:         .7em 1.4em .7em 1.4em;
  border:          solid 2px #333;
  text-decoration: none;
  font-family:     brandon-grotesque,Helvetica neue,Arial,sans-serif;
  font-weight:     200;
  font-size:       18px;
  color:           #fff;
  background:      #333;
}


.image {
  max-height:      635px;
  overflow:        hidden;
  margin:          0;

}
/* .image background image*/
.yellow {
  display:         block;
  background:      #fbed20 url(../images/gif.gif) bottom right no-repeat;
  height:          635px;
  background-size: 300% auto;
}

.teal{
  display:         block;
  background:      #62e3e1 url(../images/jpeg-4.jpg) bottom left no-repeat;
  height:          635px;
  background-size: 300% auto;
}

.pink{
  display:         block;
  background:      #d1d7eb url(../images/gif-4.gif) bottom right no-repeat;
  height:          635px;
  background-size: 300% auto;
}

.margo{
  display:         block;
  background:      #e3dfdc url(../images/jpeg-3.jpg) top left no-repeat;
  height:          635px;
  background-size: 300% auto;
  background-position: 0% 0% 35% 0%;
}

.lucian{
  display:         block;
  background:      #f55555 url(../images/gif-5.gif) bottom right no-repeat;
  height:          635px;
  background-size: 250% auto;
}

.hack{
  display:         block;
  background:      #326679 url(../images/jpeg-2.jpg) top left no-repeat;
  height:          635px;
  background-size: 300% auto;
  background-position: 0% 0% 35% 0%;
}

.free{
  display:         block;
  background:      #fbc495 url(../images/jpeg-1.jpg) bottom right no-repeat;
  height:          635px;
  background-size: 300% auto;
}

.play{
  display:         block;
  background:      #2f2928 url(../images/gif-2.gif) top left no-repeat;
  height:          635px;
  background-size: 300% auto;
  background-position: 0% 0% 35% 0%;
}

.ham{
  display:         block;
  background:      #05c9ed url(../images/gif-3.gif) bottom right no-repeat;
  height:          635px;
  background-size: 300% auto;
}

.bib{
  display:         block;
  background:      #488b96 url(../images/jpeg.jpg) top left no-repeat;
  height:          635px;
  background-size: 300% auto;
  background-position: 0% 0% 35% 0%;
}

.monty{
  display:         block;
  background:      #222  url(../images/monty.gif) bottom right no-repeat;
  height:          635px;
  background-size: 300% auto;
}

.DJ{
  display:         block;
  background:      #9de1fc url(../images/gif-1.gif) top left no-repeat;
  height:          635px;
  background-size: 300% auto;
  background-position: 0% 0% 35% 0%;
}

footer{
  display:         block;
  padding:         none;
  width:           100%;
  font-family:     "Minion", Georgia, Serif;
  font-weight:     lighter;
  font-size:       20px;
  color:           #000;
}

.footer {
  background:      #fff;
  height:          100px;
  margin:          auto;
  width:           500px;
  text-align:      center;
  padding:         6em 0em 2.5em 0em;
  color:           #000;
}
