*, *:before, *:after {
  box-sizing:       inherit;
}

/*helper classes*/

.clear:after {
  visibility:       hidden;
  display:          block;
  font-size:        0;
  content:          " ";
  clear:            both;
  height:           0;
}

.visuallyhidden {
  position:         absolute;
  overflow:         hidden;
  clip:             rect(0 0 0 0);
  height:           1px; width: 1px;
  margin:           -1px; padding: 0; border: 0;
}

.left{
  float:            left;
}

.right{
  float:           right;
}
/* end helper classes*/

html{
  background:       #fff;

}

.wrapper{
  font-size:        100%;
}

header {
  padding:          2em 2em 6em 2em;
}

.page-title{
  display:          inline-block;
}

.page-title{
  list-style:       none;
  font-family:      "Brandon", "Futura", Sans-Serif;
  margin:           0;
  padding:          none;
  text-decoration:  none;
  color:            #333;

}

.page-title:link{
  margin:           0;
  padding:          .3em .4em .3em .4em;
  text-decoration:  none;
  color:            #333;
}

.page-title:hover{
  text-decoration:  none;
  color:            #B4443C;
}

.main-nav ul {
  list-style:       none;
  margin:           0;
}

.main-nav ul li {
  margin:           0;
  display:          inline;
  font-family:      "Minion", Georgia, Serif;
  padding:          .3em 0em .3em 3.6em;
}

.main-nav ul a:link{
  margin:           0;
  text-decoration:  none;
  font-weight:      medium;
  font-size:        20px;
  color:            #333;
}

.main-nav ul a:visited{
  margin:           0;
  text-decoration:  none;
  color:            #333;
}

.main-nav ul a:active{
  margin:           0;
  text-decoration:  none;
  color:            #333;
}

.main-nav ul a:hover{
  margin:           0;
  text-decoration:  none;
  color:            #B4443C;
}

article, .image{
  width:            50%;

}

article h2{
  margin:           2.5em;
  padding:          0;
  text-decoration:  none;
  font-family:      "Brandon", "Futura", Sans-Serif;
  font-weight:      normal;
  font-size:        30px;
  color:            #333;

}

article p{
  margin:           0 0 2.5em 0;
  padding:          0;
  line-height:      30.5px;
  text-decoration:  none;
  font-family:      "Minion", Georgia, Serif;
  font-weight:      lighter;
  font-size:        18px;
  color:            #333;
  font-family:      "Minion", Georgia, Serif;
}

a.button{
  position:        absolute;
  float;           left;
  padding:         .7em 1.4em .7em 1.4em;
  border:          solid 2px #333;
  text-decoration: none;
  font-family:     brandon-grotesque,Helvetica neue,Arial,sans-serif;
  font-weight:     200;
  font-size:       18px;
  color:           #333;
}

a.button:hover{
  padding:         .7em 1.4em .7em 1.4em;
  border:          solid 2px #333;
  text-decoration: none;
  font-family:     brandon-grotesque,Helvetica neue,Arial,sans-serif;
  font-weight:     200;
  font-size:       18px;
  color:           #fff;
  background:      #333;
}


.image {
  max-height:      575px;
  overflow:        hidden;
  margin:          0;

}
/* .image background image*/
.yellow {
  display:         block;
  background:      #fbed20 url(../images/gif.gif) bottom right no-repeat;
  height:          575px;
  background-size: 300% auto;
}

footer{
  margin:           0;
  padding:          .3em .4em .3em .4em;
  line-height:      30px;
  text-decoration:  none;
  font-family:      "Minion", Georgia, Serif;
  font-weight:      lighter;
  font-size:        18px;
  color:            #333;

}
